.modal-v2 .radio-group {
  margin-left: 3rem;
}
.modal-v2 .radio-group p {
  margin: 0;
}
.modal-v2 .radio-group p label {
  top: 0;
  left: 0;
  margin-right: 2rem;
}
.modal-v2 .slider .indicators {
  bottom: 10px;
  z-index: 2;
}
.modal-v2 .slider .indicators .indicator-item.active {
  background-color: #ffab00;
}
.modal-v2 .pricelist {
  background: white;
  margin-bottom: 0;
}
.modal-v2 .pricelist .desc h1 {
  font-size: 2rem;
  margin-top: 0;
}
.modal-v2 .pricelist .filter .titlelb {
  float: left;
  line-height: 28px;
  margin-right: 20px;
}
.modal-v2 .pricelist .filter .titlelb label {
  font-size: 20px;
  color: black;
}
.modal-v2 .pricelist .filter .combofilter {
  float: left;
  color: #ffab00;
}
.modal-v2 .pricelist .filter .combofilter .select2 {
  width: 160px;
  margin-right: 10px;
}
.modal-v2 .pricelist .filter .combofilter .select2 .select2-selection.select2-selection--single {
  border: none;
  border-radius: 0;
  background-color: #e0e0e0 !important;
}
.modal-v2 .pricelist .filter .combofilter .select2 .select2-selection.select2-selection--single .select2-selection__placeholder {
  color: #ffab00;
}
.modal-v2 .pricelist .filter .combofilter .select2 .select2-selection__arrow b {
  border-color: #ffab00 transparent transparent transparent;
}
.modal-v2 .pricelist .listprice {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal-v2 .pricelist .listprice li {
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.modal-v2 .pricelist .listprice li img {
  width: 92%;
  margin-top: 19px;
}
.modal-v2 .pricelist .listprice li h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 19px;
}
.modal-v2 .pricelist .listprice li h2 a {
  color: #212121;
}
.modal-v2 .pricelist .listprice li .pricecar {
  background: #424242;
  display: block;
  float: left;
  padding: 7px;
  color: #ffab00;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.modal-v2 .pricelist .listprice li .signup {
  line-height: 44px;
  margin-left: 8%;
}
.modal-v2 .pricelist .listprice li .modal-trigger {
  color: #ffab00;
}
.modal-v2 .select2-container .selection .select2-selection {
  border: none;
  border-radius: 0;
  background-color: #e0e0e0;
}
.modal-v2 .select2-container .selection .select2-selection:hover, .select2-container .selection .select2-selection:focus {
  outline: none;
}
.modal-v2 .select2-container .selection .select2-selection .select2-selection__placeholder {
  color: #ffab00;
}
.modal-v2 .select2-container .selection .select2-selection .select2-selection__arrow b {
  border-color: #ffab00 transparent transparent;
}
.modal-v2 .select2-container.select2-container--open .selection .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #ffab00;
}
.modal-v2 .select2-container .select2-dropdown {
  border-color: #e0e0e0;
  border-radius: 0;
}
.modal-v2 .smartobj {
  color: #ffab00;
}
.modal-v2 .smartobj .phone {
  color: #ffab00;
}
.modal-v2 .material-select {
    margin: 10px 0px 0px 0px;
    width: 98%;
    padding: 7px;
}
.modal-v2 .material-select .select-dropdown {
  color: #9e9e9e;
}
.modal-v2 .material-select .dropdown-content.select-dropdown {
  max-height: 14.5rem;
}
/***************************
 Text Inputs + Textarea
 ****************************/
/* line 20, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 ::-webkit-input-placeholder {
  color: #d1d1d1;
}
/* line 24, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 :-moz-placeholder {
  /* Firefox 18- */
  color: #d1d1d1;
}
/* line 28, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d1d1;
}
/* line 32, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 :-ms-input-placeholder {
  color: #d1d1d1;
}
/* line 37, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text], .modal-v2 input[type=password], .modal-v2 input[type=email], .modal-v2 input[type=url], .modal-v2 input[type=time], .modal-v2 input[type=date], .modal-v2 input[type=datetime-local],.modal-v2 input[type=tel], .modal-v2 input[type=number], .modal-v2 input[type=search], .modal-v2 textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 95%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all 0.3s;
  padding-left: 10px;
}
/* line 67, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text]:disabled, .modal-v2 input[type=password]:disabled, .modal-v2 input[type=email]:disabled, .modal-v2 input[type=url]:disabled, .modal-v2 input[type=time]:disabled, .modal-v2 input[type=date]:disabled, .modal-v2 input[type=datetime-local]:disabled, .modal-v2 input[type=tel]:disabled,.modal-v2 input[type=number]:disabled,.modal-v2 input[type=search]:disabled,.modal-v2 textarea.materialize-textarea:disabled,.modal-v2 input[type=text][readonly="readonly"],.modal-v2 input[type=password][readonly="readonly"],.modal-v2 input[type=email][readonly="readonly"],.modal-v2 input[type=url][readonly="readonly"],.modal-v2 input[type=time][readonly="readonly"],.modal-v2 input[type=date][readonly="readonly"],.modal-v2 input[type=datetime-local][readonly="readonly"],.modal-v2 input[type=tel][readonly="readonly"],.modal-v2 input[type=number][readonly="readonly"],.modal-v2 input[type=search][readonly="readonly"],.modal-v2 textarea.materialize-textarea[readonly="readonly"] {
  color: rgba(0, 0, 0, .26);
  border-bottom: 1px dotted rgba(0, 0, 0, .26);
}
/* line 72, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text]:disabled + label,.modal-v2 input[type=password]:disabled + label,.modal-v2 input[type=email]:disabled + label,.modal-v2 input[type=url]:disabled + label,.modal-v2 input[type=time]:disabled + label,.modal-v2 input[type=date]:disabled + label,.modal-v2 input[type=datetime-local]:disabled + label,.modal-v2 input[type=tel]:disabled + label,.modal-v2 input[type=number]:disabled + label,.modal-v2 input[type=search]:disabled + label,.modal-v2 textarea.materialize-textarea:disabled + label,.modal-v2 input[type=text][readonly="readonly"] + label,.modal-v2 input[type=password][readonly="readonly"] + label,.modal-v2 input[type=email][readonly="readonly"] + label,.modal-v2 input[type=url][readonly="readonly"] + label,.modal-v2 input[type=time][readonly="readonly"] + label,.modal-v2 input[type=date][readonly="readonly"] + label,.modal-v2 input[type=datetime-local][readonly="readonly"] + label,.modal-v2 input[type=tel][readonly="readonly"] + label,.modal-v2 input[type=number][readonly="readonly"] + label,.modal-v2 input[type=search][readonly="readonly"] + label,.modal-v2 textarea.materialize-textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, .26);
}
/* line 76, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text]:focus:not([readonly]),.modal-v2 input[type=password]:focus:not([readonly]),.modal-v2 input[type=email]:focus:not([readonly]),.modal-v2 input[type=url]:focus:not([readonly]),.modal-v2 input[type=time]:focus:not([readonly]),.modal-v2 input[type=date]:focus:not([readonly]),.modal-v2 input[type=datetime-local]:focus:not([readonly]),.modal-v2 input[type=tel]:focus:not([readonly]),.modal-v2 input[type=number]:focus:not([readonly]),.modal-v2 input[type=search]:focus:not([readonly]),.modal-v2 textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #689f38;
  box-shadow: 0 1px 0 0 #689f38;
}
/* line 81, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text]:focus:not([readonly]) + label,.modal-v2 input[type=password]:focus:not([readonly]) + label,.modal-v2 input[type=email]:focus:not([readonly]) + label,.modal-v2 input[type=url]:focus:not([readonly]) + label,.modal-v2 input[type=time]:focus:not([readonly]) + label,.modal-v2 input[type=date]:focus:not([readonly]) + label,.modal-v2 input[type=datetime-local]:focus:not([readonly]) + label,.modal-v2 input[type=tel]:focus:not([readonly]) + label,.modal-v2 input[type=number]:focus:not([readonly]) + label,.modal-v2 input[type=search]:focus:not([readonly]) + label,.modal-v2 textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #689f38;
}
/* line 85, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text].valid,.modal-v2 input[type=password].valid,.modal-v2 input[type=email].valid,.modal-v2 input[type=url].valid,.modal-v2 input[type=time].valid,.modal-v2 input[type=date].valid,.modal-v2 input[type=datetime-local].valid,.modal-v2 input[type=tel].valid,.modal-v2 input[type=number].valid,.modal-v2 input[type=search].valid,.modal-v2 textarea.materialize-textarea.valid,.modal-v2 input[type=text]:focus.valid,.modal-v2 input[type=password]:focus.valid,.modal-v2 input[type=email]:focus.valid,.modal-v2 input[type=url]:focus.valid,.modal-v2 input[type=time]:focus.valid,.modal-v2 input[type=date]:focus.valid,.modal-v2 input[type=datetime-local]:focus.valid,.modal-v2 input[type=tel]:focus.valid,.modal-v2 input[type=number]:focus.valid,.modal-v2 input[type=search]:focus.valid,.modal-v2 textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}
/* line 91, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text].valid + label:after,.modal-v2 input[type=password].valid + label:after,.modal-v2 input[type=email].valid + label:after,.modal-v2 input[type=url].valid + label:after,.modal-v2 input[type=time].valid + label:after,.modal-v2 input[type=date].valid + label:after,.modal-v2 input[type=datetime-local].valid + label:after,.modal-v2 input[type=tel].valid + label:after,.modal-v2 input[type=number].valid + label:after,.modal-v2 input[type=search].valid + label:after,.modal-v2 textarea.materialize-textarea.valid + label:after,.modal-v2 input[type=text]:focus.valid + label:after,.modal-v2 input[type=password]:focus.valid + label:after,.modal-v2 input[type=email]:focus.valid + label:after,.modal-v2 input[type=url]:focus.valid + label:after,.modal-v2 input[type=time]:focus.valid + label:after,.modal-v2 input[type=date]:focus.valid + label:after,.modal-v2 input[type=datetime-local]:focus.valid + label:after,.modal-v2 input[type=tel]:focus.valid + label:after,.modal-v2 input[type=number]:focus.valid + label:after,.modal-v2 input[type=search]:focus.valid + label:after,.modal-v2 textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #4caf50;
  opacity: 1;
}
/* line 98, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text].invalid,.modal-v2 input[type=password].invalid,.modal-v2 input[type=email].invalid,.modal-v2 input[type=url].invalid,.modal-v2 input[type=time].invalid,.modal-v2 input[type=date].invalid,.modal-v2 input[type=datetime-local].invalid,.modal-v2 input[type=tel].invalid,.modal-v2 input[type=number].invalid,.modal-v2 input[type=search].invalid,.modal-v2 textarea.materialize-textarea.invalid,.modal-v2 input[type=text]:focus.invalid,.modal-v2 input[type=password]:focus.invalid,.modal-v2 input[type=email]:focus.invalid,.modal-v2 input[type=url]:focus.invalid,.modal-v2 input[type=time]:focus.invalid,.modal-v2 input[type=date]:focus.invalid,.modal-v2 input[type=datetime-local]:focus.invalid,.modal-v2 input[type=tel]:focus.invalid,.modal-v2 input[type=number]:focus.invalid,.modal-v2 input[type=search]:focus.invalid,.modal-v2 textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* line 104, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text].invalid + label:after,.modal-v2 input[type=password].invalid + label:after,.modal-v2 input[type=email].invalid + label:after,.modal-v2 input[type=url].invalid + label:after,.modal-v2 input[type=time].invalid + label:after,.modal-v2 input[type=date].invalid + label:after,.modal-v2 input[type=datetime-local].invalid + label:after,.modal-v2 input[type=tel].invalid + label:after,.modal-v2 input[type=number].invalid + label:after,.modal-v2 input[type=search].invalid + label:after,.modal-v2 textarea.materialize-textarea.invalid + label:after,.modal-v2 input[type=text]:focus.invalid + label:after,.modal-v2 input[type=password]:focus.invalid + label:after,.modal-v2 input[type=email]:focus.invalid + label:after,.modal-v2 input[type=url]:focus.invalid + label:after,.modal-v2 input[type=time]:focus.invalid + label:after,.modal-v2 input[type=date]:focus.invalid + label:after,.modal-v2 input[type=datetime-local]:focus.invalid + label:after,.modal-v2 input[type=tel]:focus.invalid + label:after,.modal-v2 input[type=number]:focus.invalid + label:after,.modal-v2 input[type=search]:focus.invalid + label:after,.modal-v2 textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #f44336;
  opacity: 1;
}
/* line 112, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 input[type=text] + label:after,.modal-v2 input[type=password] + label:after,.modal-v2 input[type=email] + label:after,.modal-v2 input[type=url] + label:after,.modal-v2 input[type=time] + label:after,.modal-v2 input[type=date] + label:after,.modal-v2 input[type=datetime-local] + label:after,.modal-v2 input[type=tel] + label:after,.modal-v2 input[type=number] + label:after,.modal-v2 input[type=search] + label:after,.modal-v2 textarea.materialize-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out,0.2s color ease-out;
}
/* line 123, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field {
  position: relative;
  margin-top: 1rem;
}
/* line 127, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0.75rem;
  font-size: 0.8rem;
  cursor: text;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-top: 10px;
}
/* line 136, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}
/* line 142, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 148, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field .prefix.active {
  color: #689f38;
}
/* line 150, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field .prefix ~ input,.modal-v2  .input-field .prefix ~ textarea {
  margin-left: 4rem;
  width: 92%;
  width: calc(100% - 3rem);
}
/* line 156, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field .prefix ~ textarea {
  padding-top: 0.8rem;
}
/* line 157, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field .prefix ~ label {
  margin-left: 4rem;
}
@media only screen and (max-width : 992px) {
  /* line 160, template/xeotochevrolet/sass/components/_form.scss */
  .modal-v2 .input-field .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}
@media only screen and (max-width : 600px) {
  /* line 166, template/xeotochevrolet/sass/components/_form.scss */
  .modal-v2 .input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}
/* line 177, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}
/* line 183, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field input[type=search]:focus {
  background-color: #fff;
  border: 0;
  box-shadow: none;
  color: #444;
}
/* line 189, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field input[type=search]:focus + label i,.modal-v2  .input-field input[type=search]:focus ~ .mdi-navigation-close,.modal-v2  .input-field input[type=search]:focus ~ .material-icons {
  color: #444;
}
/* line 196, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field input[type=search] + label {
  left: 1rem;
}
/* line 200, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .input-field input[type=search] ~ .mdi-navigation-close, .modal-v2 .input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}
/* line 214, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent;
}
/* line 219, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 textarea.materialize-textarea {
  overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: 1.6rem 0;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 3rem;
}
/* line 229, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */
}
/***************
 Radio Buttons
 ***************/
/* Remove default Radio Buttons */
/* line 243, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:not(:checked),.modal-v2  [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 250, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:not(:checked) + label,.modal-v2  [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 0.8rem;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 267, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"] + label:before,.modal-v2  [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
}
/* Unchecked styles */
/* line 282, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
}
/* line 286, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/* Checked styles */
/* line 295, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
/* line 299, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #689f38;
  background-color: #689f38;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
/* Radio With gap */
/* line 308, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #689f38;
}
/* line 312, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #689f38;
  background-color: #689f38;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* Disabled Radio With gap */
/* line 321, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid rgba(0, 0, 0, .26);
}
/* line 324, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: rgba(0, 0, 0, .26);
}
/* Disabled style */
/* line 330, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, .26);
}
/* line 335, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:disabled + label {
  color: rgba(0, 0, 0, .26);
}
/* line 338, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, .26);
}
/* line 341, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, .26);
  border-color: #bdbdbd;
}
/***************
 Checkboxes
 ***************/
/* CUSTOM CSS CHECKBOXES */
/* line 352, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 form p {
  margin-bottom: 10px;
  text-align: left;
}
/* line 356, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 form p:last-child {
  margin-bottom: 0;
}
/* Remove default checkbox */
/* line 361, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 370, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"] {
  /* checkbox aspect */
}
/* line 373, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 389, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 403, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, .26);
}
/* line 410, template/xeotochevrolet/sass/components/_form.scss */
/* line 411, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #689f38;
  border-bottom: 2px solid #689f38;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 424, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, .26);
  border-bottom: 2px solid rgba(0, 0, 0, .26);
}
/* Indeterminate checkbox */
/* line 432, template/xeotochevrolet/sass/components/_form.scss */
/* line 433, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:indeterminate + label:before {
  left: -10px;
  top: -11px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid #689f38;
  border-bottom: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 447, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"]:indeterminate:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, .26);
  background-color: transparent;
}
/* line 455, template/xeotochevrolet/sass/components/_form.scss */
/* line 457, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in + label:after {
  border-radius: 2px;
}
/* line 460, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in + label:before,.modal-v2  [type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
/* line 470, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
/* line 482, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}
/* line 491, template/xeotochevrolet/sass/components/_form.scss */
/* line 492, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 507, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #689f38;
  background-color: #689f38;
  z-index: 0;
}
/* line 517, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}
/* line 522, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #bdbdbd;
}
/* line 526, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent;
}
/* line 530, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 [type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}

/* line 37, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 43, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s1 {
  width: 8.33333%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s2 {
  width: 16.66667%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s3 {
  width: 25%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s5 {
  width: 41.66667%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s6 {
  width: 50%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s7 {
  width: 58.33333%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s8 {
  width: 66.66667%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s9 {
  width: 75%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s10 {
  width: 83.33333%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s11 {
  width: 91.66667%;
  margin-left: 0;
}
/* line 57, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.s12 {
  width: 100%;
  margin-left: 0;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s1 {
  margin-left: 8.33333%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s2 {
  margin-left: 16.66667%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s3 {
  margin-left: 25%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s4 {
  margin-left: 33.33333%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s5 {
  margin-left: 41.66667%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s6 {
  margin-left: 50%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s7 {
  margin-left: 58.33333%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s8 {
  margin-left: 66.66667%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s9 {
  margin-left: 75%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s10 {
  margin-left: 83.33333%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s11 {
  margin-left: 91.66667%;
}
/* line 66, template/xeotochevrolet/sass/components/_grid.scss */
.modal-v2 .row .col.offset-s12 {
  margin-left: 100%;
}
@media only screen and (min-width : 601px) {
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }
  /* line 77, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m1 {
    margin-left: 8.33333%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m2 {
    margin-left: 16.66667%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m3 {
    margin-left: 25%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m4 {
    margin-left: 33.33333%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m5 {
    margin-left: 41.66667%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m6 {
    margin-left: 50%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m7 {
    margin-left: 58.33333%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m8 {
    margin-left: 66.66667%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m9 {
    margin-left: 75%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m10 {
    margin-left: 83.33333%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m11 {
    margin-left: 91.66667%;
  }
  /* line 86, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-m12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width : 993px) {
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l1 {
    width: 8.33333%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l2 {
    width: 16.66667%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l5 {
    width: 41.66667%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l7 {
    width: 58.33333%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l10 {
    width: 83.33333%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l11 {
    width: 91.66667%;
    margin-left: 0;
  }
  /* line 99, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l1 {
    margin-left: 8.33333%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l2 {
    margin-left: 16.66667%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l3 {
    margin-left: 25%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l4 {
    margin-left: 33.33333%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l5 {
    margin-left: 41.66667%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l6 {
    margin-left: 50%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l7 {
    margin-left: 58.33333%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l8 {
    margin-left: 66.66667%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l9 {
    margin-left: 75%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l10 {
    margin-left: 83.33333%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l11 {
    margin-left: 91.66667%;
  }
  /* line 108, template/xeotochevrolet/sass/components/_grid.scss */
  .modal-v2 .row .col.offset-l12 {
    margin-left: 100%;
  }
}

/***************
 Select Field
 ***************/
/* line 615, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-label {
  position: absolute;
}
/* line 619, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper {
  position: relative;
padding-left: 0px;
}
/* line 622, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  display: block;
}
/* line 638, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper span.caret {
  color: initial;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 10px;
}
/* line 644, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper span.caret.disabled {
  color: rgba(0, 0, 0, .26);
}
/* line 648, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper + label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

/* line 656, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 select.browser-default {
  display: block;
}
/* line 660, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 select:disabled {
  color: rgba(0, 0, 0, .3);
}
/* line 663, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, .3);
  cursor: default;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -ms-user-select: none;
  /* IE10+ */
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
/* line 671, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-wrapper i {
  color: rgba(0, 0, 0, .3);
}
/* line 674, template/xeotochevrolet/sass/components/_form.scss */
.modal-v2 .select-dropdown li.disabled {
  color: rgba(0, 0, 0, .3);
  background-color: transparent;
}
.modal-v2 .btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: rgb(52, 52, 52);
    cursor: pointer;
}
.modal-v2 .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.modal-v2 {
    padding: 10px;
}